body {
	padding: 0;      /* внешние границы отступа */
	margin: 0;       /* внутренние границы отступа */
}
header {
	width: 100%;     /* ширина */
	height: 110px;   /* высота */
	padding: 5px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	background: #000;
	background-size: cover;
	/* opacity:0.8; */
}
.container {
	width: 1170px;
	margin: 0 auto;
}
h1 {
	font-size: 28px;
	text-align: left;
	color: white;
}
.logo {
	font-size: 15px;
	text-align: left;
	color: white;
}
.logo span {
	color: #ffb400;
}
#topmenu {
	align-items: center;
	flex-direction: row;
	display: flex;
	height: 30px;
	float: right;
}
#topmenu a {
	/*border-left: 1px solid rgba(255, 255, 255, 0.1);*/
	/*border-right: 1px solid rgba(255, 255, 255, 0.1);*/
	display: block;
    font-family: "Open Sans", sans-serif;
	color: #ffbe11;
	padding: 0px 20px;
	height: 70px;
	line-height: 70px;
	text-decoration: none;
}
#topmenu a:last-child {
	border-left: none;
}
#topmenu a:hover {
	background: #ffb400;
}
#first {
	height: 1000px;
	background: url(../images/first.jpg)no-repeat center top / cover;
}
h2 {
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 460px;
	margin-top: 0px;
}
.button {
	background: #ffb400;
	color: black;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 10px;
	padding: 10px 30px;
	text-decoration: none;
	font-weight: bold;
	margin: 0px auto;
	display: block;
	width: 200px;
	font-family: "Open Sans", sans-serif;
}
.button:hover {
	background: #ffbe11;
	box-shadow: 0px 0px 0px 4px #ffbe11;
}
.button:active {
	background: #ffa200;
	box-shadow: 0px 0px 0px 4px #ffa200;
}
#second {
	height: 1000px;
	background: #C0C0C0;
}
#third {
	height: 1000px;
	background: #C0C0C0;
}
#fourth {
	height: 1000px;
	background: #C0C0C0;
}
#fifth {
	height: 1000px;
	background: #C0C0C0;
}
footer {
	background: #000;
	color: #acacac;
	padding: 50px 0px;
}
footer.logo {
	margin-left: 0px;
	margin-right: 283px;
}
.credits {
	font-size: 14px;
	float: left;
}
p {
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 460px;
	margin-top: 0px;
	color: white;
}